<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <dt>~~~© 2014~~~</dt>
      <dd>some crazy person. all content available under <a href="http://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA</a></dd>
    </div>

    <div class="footer-col-2 column">
      <dt>~~~funsies~~~</dt>
      <dd>{% fortune %}</dd>
    </div>

    <div class="footer-col-3 column">
      <dt>~~~now showing~~~</dt>
      <dd><a href="https://github.com/patpluspun/they_blog" target="_blank">{% project_version %}</a></dd>
    </div>
  </div>

  {% include scripts.html %}
</footer>
